In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json
import os
import pprint
from pandas.io.json import json_normalize

In [2]:
#reading csv file and turning it into a dataframe
csv_file= "Restaurants_in_Wake_County.csv"
restaurant_df= pd.read_csv(csv_file)
restaurant_df.head()

,OBJECTID,HSISID,NAME,ADDRESS1,ADDRESS2,CITY,STATE,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,FACILITYTYPE,PERMITID,X,Y,GEOCODESTATUS
0,1,4092110115,Wakefield Elementary Cafeteria,2400 Wakefield Pines Dr,NaN,RALEIGH,NC,27614,(919) 562-3565,1999-06-30T00:00:00.000Z,Public School Lunchrooms,19,-78.566415,35.946494,M
1,2,4092110117,Green Hope High Sch. Cafeteria,2500 Carpenter Upchurch RD,NaN,MORRISVILLE,NC,27560-7686,(919) 380-3684,1999-08-12T00:00:00.000Z,Public School Lunchrooms,20,0.000000,0.000000,U
2,3,4092010617,Rex Hospital Cafeteria,4420 LAKE BOONE TRL,NaN,RALEIGH,NC,27607-6599,(919) 784-4173,1991-05-13T00:00:00.000Z,Restaurant,41,-78.702420,35.818172,M
3,4,4092110082,Penny Road Elementary Cafeteria,10900 PENNY RD,NaN,RALEIGH,NC,27606-9118,(919) 387-2143,1991-09-16T00:00:00.000Z,Public School Lunchrooms,51,0.000000,0.000000,U
4,5,4092160021,Woodland Terrace Assisted Living Foodservice,300 Kildaire Woods Dr,NaN,CARY,NC,27511,(919) 465-0356,2001-09-05T00:00:00.000Z,Institutional Food Service,61,-78.779010,35.766135,M

In [3]:
#cleaned by selecting columns needs
updated_restaurant_df= restaurant_df[['OBJECTID', 'NAME', 'ADDRESS1', 'CITY', 'STATE', 'POSTALCODE']]
updated_restaurant_df.head()

,OBJECTID,NAME,ADDRESS1,CITY,STATE,POSTALCODE
0,1,Wakefield Elementary Cafeteria,2400 Wakefield Pines Dr,RALEIGH,NC,27614
1,2,Green Hope High Sch. Cafeteria,2500 Carpenter Upchurch RD,MORRISVILLE,NC,27560-7686
2,3,Rex Hospital Cafeteria,4420 LAKE BOONE TRL,RALEIGH,NC,27607-6599
3,4,Penny Road Elementary Cafeteria,10900 PENNY RD,RALEIGH,NC,27606-9118
4,5,Woodland Terrace Assisted Living Foodservice,300 Kildaire Woods Dr,CARY,NC,27511

In [ ]:
#read in json file 
filepath = os.path.join("Food_Inspection_filtered.json")
#json_file="Food_Inspections.json"
#inspection_df=pd.read_json(json_file)
#inspection_df.head()
with open (filepath, encoding="utf8") as jsonfile:
    inspection_json= json.load(jsonfile)

    inspection_json

In [ ]:
#turn into a dataframe using json_normalize
inspection_df=pd.DataFrame.from_dict(json_normalize(inspection_json), orient='columns')
inspection_df
#data needed in the first features column

In [ ]:
#unnest features column, turned into a dataframe
updatedinspection = json_normalize(inspection_json['features'])
updatedinspection

In [ ]:
#reduced columns needed
inspection_df= updatedinspection[['properties.OBJECTID', 'properties.SCORE', 'properties.TYPE', 'properties.DESCRIPTION']]
inspection_df.head()

In [ ]:
#changed column name
inspection_df.rename(columns={'properties.OBJECTID':'OBJECTID',
                          'properties.SCORE':'SCORE',
                          'properties.TYPE':'TYPE',
                          'properties.DESCRIPTION':'DESCRIPTION'},
                 inplace=True)
inspection_df.head()